trunk/FingerPrintSync/AIUB.FingerPrintSync.ServiceManager/Service References/AttendanceService/PrintService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Erp.Web.Services.Wcf.Helpers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Erp.Web.Services.Wcf.Helpers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.22.121:53931/PrintService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ResultObjects.SubmitResult2OfstringRvdAXEcW">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultObjects.SubmitResult2Of{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Erp.Web.Services.Wcf.Helpers" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" NestedLevel="1" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultObjects.SubmitResult2OfstringRvdAXEcW" nillable="true" type="tns:ResultObjects.SubmitResult2OfstringRvdAXEcW" />
</xs:schema>